In [1]:
import numpy as np
import pandas as pd
import scipy
import matplotlib.pyplot as plt
import seaborn as sns
import math
import datetime
import matplotlib.pyplot as plt

sns.set(color_codes=True)
%matplotlib inline

In [2]:
df = pd.read_csv('data/Vix_Returns.csv')
df['Date'] = pd.to_datetime(df['Date'])
df = df.set_index('Date')
# Get rid of rows with 'ND' as value
#df = df[df['1-month'] != 'ND']
#df = df.astype(float)
# To see how the data looks like
df.head()

               F1     F2     F3     F4     F5     F6     F7     F8   F9
Date
2011-02-07  16.95  18.45  19.60  20.40  21.15  21.95  22.50  23.05  0.0
2011-02-08  16.85  18.20  19.35  20.05  20.85  21.65  22.15  22.75  0.0
2011-02-09  16.85  18.25  19.30  20.05  20.80  21.60  22.10  22.70  0.0
2011-02-10  16.90  18.30  19.30  19.95  20.60  21.30  21.75  22.30  0.0
2011-02-11  16.60  18.05  19.15  19.85  20.45  21.15  21.55  22.10  0.0

In [3]:
volatilities = df.std()
volatilities

F1    5.062943
F2    4.417086
F3    4.162873
F4    4.023538
F5    4.027038
F6    4.013676
F7    4.018265
F8    4.427050
F9    9.075312
dtype: float64

In [4]:
df_returns = df.pct_change()[1:]
# Remove inf and NaN values in the dataframe
#df_returns = df_returns.replace([np.inf, -np.inf], np.nan)
#df_returns = df_returns.dropna(axis=0,how='any')
# To see how the returns looks like
df_returns.head()

,F1,F2,F3,F4,F5,F6,F7,F8,F9
Date,,,,,,,,,
2011-02-08,-0.005900,-0.013550,-0.012755,-0.017157,-0.014184,-0.013667,-0.015556,-0.013015,NaN
2011-02-09,0.000000,0.002747,-0.002584,0.000000,-0.002398,-0.002309,-0.002257,-0.002198,NaN
2011-02-10,0.002967,0.002740,0.000000,-0.004988,-0.009615,-0.013889,-0.015837,-0.017621,NaN
2011-02-11,-0.017751,-0.013661,-0.007772,-0.005013,-0.007282,-0.007042,-0.009195,-0.008969,NaN
2011-02-14,-0.009036,-0.011080,-0.010444,-0.005038,-0.002445,-0.002364,-0.002320,-0.002262,NaN

In [5]:
#df['pct_change'] = df.pct_change()
df_log = np.log(1 + df_returns)
df_log.head()

/Users/canelbiryol/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: RuntimeWarning: divide by zero encountered in log
  from ipykernel import kernelapp as app

,F1,F2,F3,F4,F5,F6,F7,F8,F9
Date,,,,,,,,,
2011-02-08,-0.005917,-0.013643,-0.012837,-0.017306,-0.014286,-0.013762,-0.015678,-0.013101,NaN
2011-02-09,0.000000,0.002743,-0.002587,0.000000,-0.002401,-0.002312,-0.002260,-0.002200,NaN
2011-02-10,0.002963,0.002736,0.000000,-0.005000,-0.009662,-0.013986,-0.015964,-0.017778,NaN
2011-02-11,-0.017911,-0.013755,-0.007802,-0.005025,-0.007308,-0.007067,-0.009238,-0.009009,NaN
2011-02-14,-0.009077,-0.011142,-0.010499,-0.005051,-0.002448,-0.002367,-0.002323,-0.002265,NaN

In [38]:
volatilities_log = df_log.std()
volatilities_log

F1    0.056376
F2    0.039503
F3    0.030572
F4    0.025757
F5    0.022508
F6    0.020481
F7    0.018783
F8         NaN
F9         NaN
dtype: float64

In [39]:
corr_matrix = df_log.corr()
# To show how the correlation matrix looks like
corr_matrix

,F1,F2,F3,F4,F5,F6,F7,F8,F9
F1,1.000000,0.950238,0.924661,0.902158,0.873622,0.856629,0.837134,0.823448,0.519265
F2,0.950238,1.000000,0.977403,0.958974,0.939223,0.920642,0.902516,0.877123,0.572747
F3,0.924661,0.977403,1.000000,0.979628,0.965099,0.952986,0.939573,0.906678,0.584383
F4,0.902158,0.958974,0.979628,1.000000,0.979728,0.968560,0.960191,0.928119,0.599144
F5,0.873622,0.939223,0.965099,0.979728,1.000000,0.980003,0.970262,0.944553,0.596964
F6,0.856629,0.920642,0.952986,0.968560,0.980003,1.000000,0.975825,0.948120,0.592939
F7,0.837134,0.902516,0.939573,0.960191,0.970262,0.975825,1.000000,0.954784,0.604134
F8,0.823448,0.877123,0.906678,0.928119,0.944553,0.948120,0.954784,1.000000,0.605655
F9,0.519265,0.572747,0.584383,0.599144,0.596964,0.592939,0.604134,0.605655,1.000000